<div class = "main">
    <div class = "body-main">
        <h1>Diversified knowledge consolidation community</h1>
        <h3>This site will provide opportunities you can Know the knowledge of many people and will help you with  to understanding the essence of things, deepening knowledge!</h3>
    </div>
    <!--<div class = "body-menu">
        <h1>Menu</h1>
        <h2><%= link_to "テーブル作成",table_path%></h2>
    </div>-->
</div>