<div id = "rooms-menu">
    <ul><h1>ルーム一覧</h1>
        <% @rooms.each do |room| %>
        <li><%=link_to "#{room.title}", "/rooms/#{room.id}/" %><p><%= "/rooms/room_#{room.id}"%></p></li>
        <% end %>
    </ul>
</div>