// Place all the styles related to the Mains controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// Place all the styles related to the Main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap-sprockets";
@import "bootstrap";

.body-main {
    margin: 0px;
    padding: 0px;
    width:100%;
    height:720px;
    float: left;
    position:relative;
    h1{
        height:auto;
        width:900px;
        text-align: center;
        font-family: 'Arial Black','DIN Condensed',  sans-serif;
        font-size:120px;
        font-style: inherit;
        color: whitesmoke;
        margin: auto;
        padding:auto;
        position:absolute;
        top: 25%;
        left: 50%;
        -ms-transform: translate(-50%,-25%);
        -webkit-transform : translate(-50%,-25%);
        transform : translate(-50%,-25%);

    }
    h3 {
        height:auto;
        width:600px;
        text-align: center;
        font-family: 'Segoe Script','Bradley Hand',  sans-serif;
        font-size:22px;
        font-style: inherit;
        color:whitesmoke;
        
        margin: 10px auto auto auto;
        padding:auto;
        position:absolute;
        top: 65%;
        left: 50%;
        -ms-transform: translate(-50%,-65%);
        -webkit-transform : translate(-50%,-65%);
        transform : translate(-50%,-65%);

    }
    p {
        height:auto;
        width:900px;
        text-align: center;
        font-family: 'ＭＳ 明朝', 'MS Mincho','ヒラギノ明朝 ProN','Hiragino Mincho ProN','TsukuBRdGothic-Regular',  sans-serif;
        font-size:23px;
        font-style: inherit;
        color:whitesmoke;
        letter-spacing : 0.3em;
        margin: 10px auto auto auto;
        padding:auto;
        position:absolute;
        top: 72%;
        left: 50%;
        -ms-transform: translate(-50%,-72%);
        -webkit-transform : translate(-50%,-72%);
        transform : translate(-50%,-72%);
    }
    ul {
        height:auto;
        width:auto;
        margin: 20px auto;
        padding:auto;
        position:absolute;
        top: 88%;
        left: 50%;
        -ms-transform: translate(-50%,-88%);
        -webkit-transform : translate(-50%,-88%);
        transform : translate(-50%,-88%);
        color:whitesmoke;
        li {
            display: inline;
            text-align: center;
            font-family: 'Arial',  sans-serif;
            font-size:20px;
            font-style: inherit;
            background: #eeeded86;
            letter-spacing : 0.1em;
            margin: auto 30px;
            padding:5px 40px;
            border-radius: 10px;
            border:solid 2px whitesmoke ;
            list-style: none;
            a{
                text-decoration: none;
                color:whitesmoke;
                &:hover{
                    color: darkblue;
                }
            }
            /*&:hover {
                background:rgba(238, 236, 236, 0.719);
            }*/
        }
    }
}
.contents {
    width: 100%;
    height: auto;
    float: left;
    background:white;
    padding: 80px;
    margin: 0;
    .rooms {
        width:100%;
        height:auto;
        padding: 0;
        margin: 0 auto;
        ul {
            height:auto;   
            width:100%;
            margin:auto;
            padding:auto;
            display:flex;
            justify-content: center;
            li {
                width: 150px;
                height: 150px;
                font-family: 'Arial',  sans-serif;
                font-size:25px;
                font-style: inherit;
                margin:auto 80px;
                padding-top:55px;
                list-style: none;
                border-radius: 50%;
                text-align: center;
                a {
                    text-decoration: none;
                    color:black;  
                    &:hover{
                        color:rgb(126, 124, 124);
                    }
                }
                &:hover{
                    background:rgb(228, 228, 228);
                }
            }
            .makeroom {
                background: #cce475;
            }
            .watchroom {
                background: #71a3a3;
            }
        }
    }
    .contents-body {
        width: 80%;
        height: 700px;
        margin: 100px auto auto auto;
        padding: 0;
        background:rgb(255, 255, 255);
        box-shadow: 20px 20px 20px 15px rgba(0,0,0,0.1);
        .contents-menu {
            width: 100%;
            height: 80px;
            
            ul {
                height:inherit;
               
                width:100%;
                margin:auto;
                padding:auto;
                display:flex;
                justify-content: center;
                li {
                    width: 30%;
                    text-align: center;
                    font-family: 'Arial',  sans-serif;
                    font-size:25px;
                    font-style: inherit;
                    letter-spacing : 0.1em;
                    margin: auto 30px 0 30px;
                    padding:5px 0;
                    list-style: none;
                    a {
                        text-decoration: none;
                        color:black;  
                        &:hover{
                            color: blue;
                        }
                    }
                    &:hover{
                        background: #f3f1f17e;
                        border-bottom:solid 2px blue ;
                    }
                }
            }
        }
        .contents-main {
            width: 100%;
            height: 610px;
            margin-top:10px;
            background: #eaeaea67;
            
        }
    }
}


 
/* mixins, variables, etc. */
 
$gray-medium-light: #eaeaea;
 
@mixin box_sizing {
   -moz-box-sizing:    border-box;
   -webkit-box-sizing: border-box;
   box-sizing:         border-box;
}

/* miscellaneous */
 
.debug_dump {
   clear: both;
   float: left;
   width: 100%;
   margin-top: 45px;
   @include box_sizing;
}
