@import "bootstrap-sprockets";
@import "bootstrap";

/* header */
.logo  {
    width:40%;
    height:70px;
    float: left;
    margin: 0px;
    padding: 60px;
    font-family: 'Times New Roman', sans-serif;
    /*color:rgb(83, 71, 255);*/
    color:black;
    position:relative;   
    text-decoration: none;
    a{
        text-decoration: none;
        font-size: 85px;
        width: inherit;
        height: inherit;
        padding:auto;
        position:absolute;
        top: 50%;
        -ms-transform: translateY(-50%);
        -webkit-transform : translateY(-50%);
        transform : translateY(-50%);
        
        vertical-align: middle;  
        /*color:rgb(83, 71, 255);*/
        color:black;
        letter-spacing : 0.2em;
        text-decoration: none;
        &:hover{
            text-decoration: none;
        }
    }
}
.head-menu{
    width:60%;
    height:120px;
    float: left;
    margin: 0;
    padding: 0;
    position:relative; 
    ul{ 
        padding-top: 60px;
        padding-right: 40px;
        position:absolute;
        top: 50%;
        right: 2%;
        -ms-transform: translate(-2%,-50%);
        -webkit-transform : translate(-2%,-50%);
        transform : translate(-2%,-50%);
        text-align: right;
        height: inherit;
        
        li{
            display: inline;
            list-style: none;
            margin: 0 20px;
            padding: 0;
            font-family: 'Arial',  sans-serif;
            font-size:20px;
            font-style: inherit;
            /*color:rgb(83, 71, 255);*/
            color:black;
            height: inherit;
            
            a{
                margin: 0;
                padding: 0;
                height: inherit;
                text-decoration: none;
                /*color:rgb(83, 71, 255);*/
                color:black;
                &:hover{
                    color: darkblue;
                }
            }
        }
    }
}
/* body */

body{
    /*background:linear-gradient(-45deg,  rgba(249, 250, 252, 0.778), rgba(52, 19, 105, 1));*/
    background: linear-gradient(218.66deg, #FFFFFF 28.07%, rgba(255, 255, 255, 0) 100%), linear-gradient(128.98deg, #481369 0%, rgba(52, 19, 105, 0) 100%);
    /*background:rgb(221, 231, 231);
    background-image:url('Main.png');
    background-repeat: no-repeat;*/
    margin: 0;
    padding: 0;
    /*background: linear-gradient(to left, rgba(219, 240, 223, .8), rgba(143, 167, 255, .8)),
  url('main.png');
  /*background-size: cover;*/
}

/* footer */
.foot {
    width: 100%;
    height: 30px;
    padding: 0%;
    margin: 2% 0%;
    float: left;
    font-size: 200%;
    font-family: 'Segoe Print','Bradley Hand','Bradley Hand',  sans-serif;
    position:relative; 
    small {
        margin: auto;
        padding:auto;
        position:absolute;
        top: 50%;
        -ms-transform: translateY(-50%);
        -webkit-transform : translateY(-50%);
        transform : translateY(-50%);
    }
}