// Place all the styles related to the Rooms controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap-sprockets";
@import "bootstrap";

.Room-body {
    margin:0px;
    padding:50px 0px 0px 0px;
    width:100%;
    height: 700px;
    float: left;
    .room-form {
        width:50%;
        margin:auto;
        padding:0;
        label {
            font-family: 'Arial',  sans-serif;
            font-size:20px;
            font-style: inherit;
            color:rgb(8, 103, 245);
            
        }
        .choice {
            display:inline-flex;
            width:100%;
        }
        #room_choice_first{
            width:45%;
        }
        #room_choice_second {
            width:50%;
            margin-left: 30px;
        }
    }

}

.chatroom {
    width: 100%;
    margin: 10px auto;
    padding: 10px auto;
    .chat-body {
        height: 700px;
        width: 100%;
        margin: 0px;
        padding: 0px;
        #chat-list{
            width: 70%;
            height: 25%;
            padding: 0%;
            margin: 0%;
            float: left;
            position: relative;
            h1{
                text-align: center;
                margin: 0%;
                padding: 0%;
                font-size: 400%;
                width: 100%;
                height: 40%;
                color: rgb(134, 59, 132);
            }
            #choice{
                height: 30%;
                width: 100%;
                margin: 0%;
                padding: 0%;
                display:flex;
                justify-content: center;
                text-align: center;
                list-style: none;
                font-family: 'Michroma',  sans-serif;
                font-style: inherit;
                letter-spacing : 0.1em;
                color: rgb(179, 130, 189);
                #first_name{
                    width: 30%;
                    height: 100%;
                    margin: 0%;
                    padding: 0%;
                    font-size:300%;
                }
                #name{
                    width: 10%;
                    height: 100%;
                    margin: 0%;
                    padding: 0%;
                    font-size:250%;
                }
                #second_name{
                    width: 30%;
                    height: 100%;
                    margin: 0%;
                    padding: 0%;
                    font-size:300%;
                }
            }
            #left_par{
                width : 10%;
                margin: auto;
                padding: auto ;
                font-size: 300%;
                font-family: 'Bodoni 72','Javanese Text',  sans-serif;
                color: rgb(41, 1, 49);
                vertical-align: sub;
                position:absolute;
                bottom: 0;
                left:10%; 
            }
            #right_par{
                width : 10%;
                margin: auto;
                padding: auto ;
                font-size: 300%;
                font-family: 'Bodoni 72','Javanese Text',  sans-serif;
                color: rgb(41, 1, 49);
                vertical-align: sub;
                position:absolute;
                bottom: 0;
                right: 10%;
            }
            input {
                position: absolute;
                bottom: 10%;
                border: 1px solid  rgb(219, 219, 219);
                width: 25px;
                height: 25px;
                border-radius: 50%;
                padding: auto;
                float: left;
                font-size: 200%;
                &:hover{
                    background: rgb(163, 161, 161);
                }
            }
            .statusbutton_left{
                left: 25%;
                background: rgb(235, 235, 235);
            }
            .statusbutton_right{
                right: 25%;
                background: rgb(245, 245, 245);
            }
        }
        .chat-main{
            width:70%;
            height:570px;
            float:left;
            margin:0px;
            padding:0px;
            #chat-contents {
                float: left;
                width: 95%;
                background:whitesmoke;
                border-top-left-radius: 5px;
                border-top-right-radius: 5px;
                
                margin: 10px 10px auto 20px;
                padding: 10px 20px;
                overflow:auto;
                height: 510px;
                -webkit-overflow-scrolling: touch;
                box-shadow: 4px -4px 6px 2px rgba(0, 0, 0, 0.253);
                #messages {
                    
                    width: 100%;
                    height: 100%;
                    .messages-main {
                        width: 100%;
                    }
                }
            }
            #chat-form {
                width: 95%;
                margin: auto 10px auto 20px;
                padding: auto;
                height: 40px;
                background: whitesmoke;
                float:left;
                border-bottom-left-radius: 5px;
                border-bottom-right-radius: 5px;
                box-shadow: 4px 4px 6px 2px rgba(0,0,0,0.253);
                .textbutton {
                    width:90%;
                    height: 30px;
                    float:right;
                    margin: 5px 2px;
                    border-radius: 10px;
                }
            }
        }
        #chat-details{
            margin-top:4%; 
            float:right;
            width:30%;
            height: inherit;
            #see{
                margin-top: 8%;
                margin-left: 0%;  
                border-radius: 5px;
                width:95%;
                height: 10%;
                position: relative;
                #live{
                    width: 10%;
                    font-size: 150%;
                    position: absolute;
                    bottom: 0;
                    right: 0;
                    margin: 0;
                }
                #number{
                    width: 88%;
                    font-size: 300%;
                    text-align: right;
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    margin: 0;
                }
            }
            #tag{
                margin-top: 5%;
                margin-left: 0%;
                border-radius: 10px;
                width:97%;
                height: 15%;
                background: rgba(175, 175, 175, 0.322);
                .tag_nameplate{
                    font-weight: bold;
                    font-size: 200%;
                    text-align: left;
                    border-top-left-radius: 10px;
                    border-top-right-radius: 10px;
                    background: rgb(200, 200, 200);
                    width:100%;
                    height: 40px;
                }
                .tag_main{
                    font-size: 150%;
                    text-align: left;
                    border-radius: 10px;
                    padding: 0 1%;
                    width:100%;
                    height: auto;
                }
            }
            #contents{
                margin-top: 2%;
                margin-left: 0%;
                border-radius: 10px;
                width:97%;
                height: 30%;
                background: rgba(175, 175, 175, 0.322);
                .contents_nameplate{
                    font-weight: bold;
                    font-size: 200%;
                    text-align: left;
                    border-top-left-radius: 10px;
                    border-top-right-radius: 10px;
                    background: rgb(200, 200, 200);
                    width:100%;
                    height: 40px;
                }
                .contents_main{
                    font-size: 150%;
                    text-align: left;
                    border-radius: 10px;
                    padding: 0 1%;
                    width:100%;
                    height: auto;
                }
            }
            #rule{
                margin-top: 2%;
                margin-left: 0%;
                border-radius: 10px;
                width:97%;
                height: 30%;
                background: rgba(175, 175, 175, 0.322);
                .rule_nameplate{
                    font-weight: bold;
                    font-size: 200%;
                    text-align: left;
                    border-top-left-radius: 10px;
                    border-top-right-radius: 10px;
                    background: rgb(200, 200, 200);
                    width:100%;
                    height: 40px;
                }
                .rule_main{
                    font-size: 150%;
                    text-align: left;
                    border-radius: 10px;
                    padding: 0 1%;
                    width:100%;
                    height: auto;
                }
            }
        }
    }
}

#rooms-menu {
    width:100%;
    height: 700px;
    float: left;
    margin: 0%;
    padding:30px 0px 0px 0px;
}

@mixin box_sizing {
    -moz-box-sizing:    border-box;
    -webkit-box-sizing: border-box;
    box-sizing:         border-box;
}
/*input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}*/
.btn, .form-control, select{
    border: 1px solid #bbb;
    width: 100%;
    margin-bottom: 15px;
    @include box_sizing;
    input {
        height: auto !important;
    }
}

#error_explanation {
    color: red;
    ul {
      color: red;
      margin: 0 0 30px 0;
    }
}
  
.field_with_errors {
    @extend .has-error;
    .form-control {
      color: $state-danger-text;
    }
}


/*
::placeholder {
  color: blue;
  font-size: 1.5em;
}*/