// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap-sprockets";
@import "bootstrap";
.row{
    height:auto;
    margin: 8% auto;
    padding: auto;
    width: 100%;
    display:flex;
    justify-content: center;
    .col-md-6 {
        height: auto;
        margin: 10% auto; 
        padding: 20px;
        background: rgba(255, 255, 255, 0.829);
        box-shadow: 20px 20px 20px 15px rgba(0,0,0,0.1)
    }
    .col-md-4{
        width: 80%;
        height: inherit;
        margin: 0%;
        padding: 0%;
        .user_info {
            width: 100%;
            height: inherit;
            margin: 10px auto;
            padding: 0;
            position: relative;
            .user-image {
                margin-left: 30px;
                padding: 0;
                h1 {
                    
                    font-family: 'Segoe Print','Bradley Hand','Bradley Hand',  sans-serif;
                    font-size:80px;
                    font-style: inherit;
                    color:white;
                }
            }
            ul{
                position: absolute;
                top: 30px;
                right: 5%;
                float: right;
                list-style: none;
                padding: 0;
                font-family: 'Arial', sans-serif;
                font-size:25px;
                font-style: inherit;
                a{
                    margin: 0;
                    padding: 0;
                    text-decoration: none;
                    color:whitesmoke;
                    &:hover{
                        color: darkblue;
                    }
                }
                li .dropdown-menu {
                    padding: 0;
                    margin-top: 12px;
                }
            }

            #mypages{
                margin: 50px auto ;
                padding: 0;
                width:95%;
                height:600px;
                background: white;
                box-shadow: 2px 2px 10px 4px rgba(0,0,0,0.3);
            
                display:flex;
                justify-content: center;
                color: blue;
                .mybox {
                    margin: 0;
                    padding:0;
                    height: inherit;
                    width: 100%;
                    .box-top{
                        margin: auto;
                        padding:auto;
                        height:70px;
                        p {
                            height: inherit;
                            padding-top: 20px;
                            padding-bottom:0; 
                            font-family: 'Arial',  sans-serif;
                            font-size:30px;
                            font-style: inherit;
                            color: blue;
                            text-align: center;
                        }
                    }
                    .box-main {
                        margin: auto;
                        padding: auto;
                        height:530px;
                    }
                }
            
                /*.discuss {
                    padding:0px;
                    height: inherit;
                    width: 33%;
                    border: #6d95ce solid 2px;
                }
                .quastion{
                    padding:0%;
                    height: inherit;
                    width:33%;
                    border: #6d95ce solid 2px;
                }
                .note{
                    padding:0%;
                    height: inherit;
                    width:33%;
                    border: #6d95ce solid 2px;
                }*/
            }
        }
    }
}


/* sidebar */

aside {
    section.user_info {
      margin-top: 20px;
    }
    section {
      padding: 10px 0;
      margin-top: 20px;
      &:first-child {
        border: 0;
        padding-top: 0;
      }
      span {
        display: block;
        margin-bottom: 3px;
        line-height: 1;
      }
      h1 {
        font-size: 1.4em;
        text-align: left;
        letter-spacing: -1px;
        margin-bottom: 3px;
        margin-top: 0px;
        color: blue;
      }
      .alert {
        width:800px;
        }
    }
}
  
.gravatar {
    float: left;
    margin-right: 10px;
}
  
.gravatar_edit {
    margin-top: 15px;
}
/* forms */

@mixin box_sizing {
    -moz-box-sizing:    border-box;
    -webkit-box-sizing: border-box;
    box-sizing:         border-box;
}
input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
    color: red;
    ul {
      color: red;
      margin: 0 0 30px 0;
    }
}
  
.field_with_errors {
    @extend .has-error;
    .form-control {
      color: $state-danger-text;
    }
}